$red = red
$green = green
$orange = orange

body
  font-family: 'Lato', sans-serif
  font-weight: 200

.container
  width: 100%
 
.navbar
  background: transparent
  border: none

.header
  text-align: center
  font-size: 60px
  padding-top: 50px
  margin-bottom: 20px
  border-bottom: 2px solid #e0e0e0

.servers
  text-align: center

  li
    display: inline-block
    float: none

    h3
      margin-top: 0

.red
  color: $red
.orange
  color: $orange
.green
  color: $green
