extends layout

block content
  ul.servers.list-unstyled
    for server in servers
      li.row
        .icon-container.col-xs-4
          if server.isOk
            .fa.fa-hdd-o.fa-5x.green
          else
            .fa.fa-hdd-o.fa-5x.red
        .col-xs-8
          h3 #{server.hostname}
          if authenticated
            div.timestamp #{server.timesince}
            div.ip #{server.ip}
            div.user #{server.username}
