extends layout

block content
  ul.servers.list-unstyled
    for server in servers
      li.col-xs-6.col-sm-4.col-md-3.col-lg-2.text-center
        if server.isOk
          .fa.fa-hdd-o.fa-5x.green
        else
          .fa.fa-hdd-o.fa-5x.red
        h3 #{server.hostname}
        div.ip #{server.ip}
        div.user #{server.username}

      
